# MongoDB Connection (Ganti dengan string koneksi MongoDB Atlas/Online Anda)
MONGO_URI="mongodb+srv://<username>:<password>@cluster0.mongodb.net/ambanotes?retryWrites=true&w=majority"
DB_NAME="ambanotes"

# JWT Secret Key
JWT_SECRET_KEY="super-secret-key-ganti-dengan-yang-aman"

# Mistral AI API Key
MISTRAL_API_KEY="your-mistral-api-key"

# Flask Configuration
FLASK_APP="api_gateway/api.py"
FLASK_ENV="development"
FLASK_DEBUG="1"
PORT="5000"
GEMINI_API_KEY="your-gemini-api-key"

# Email Configuration (SMTP)
MAIL_SERVER="smtp.gmail.com"
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME="email-address"
MAIL_PASSWORD="your-app-password"
MAIL_DEFAULT_SENDER="<Developer Name> <email-address>"
GATEWAY_URL=http://localhost:5009
