# MongoDB Connection (Ganti dengan string koneksi MongoDB Atlas/Online Anda)
MONGO_URI="mongodb+srv://bimazznxt:bimazznxt@bigdata.t30qupi.mongodb.net/?appName=bigData"
DB_NAME="ambanotes"

# JWT Secret Key
JWT_SECRET_KEY="super-secret-key-ganti-dengan-yang-aman"

# Mistral AI API Key
MISTRAL_API_KEY="your-mistral-api-key"

# Flask Configuration
FLASK_APP="api_gateway/api.py"
FLASK_ENV="development"
FLASK_DEBUG="1"
PORT="5000"
GEMINI_API_KEY="your-gemini-api-key"

# Email Configuration (SMTP)
MAIL_SERVER="smtp.gmail.com"
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME="work@bimazznxt.my.id"
MAIL_PASSWORD="mcwrjknxgsctolxd"
MAIL_DEFAULT_SENDER="AmbaNotes Team <work@bimazznxt.my.id>"
